<!-- version 1b -->
<ion-content scroll="false">
<div id="grid2">
    <div id="content">
        <table>
            <tbody>
                <tr ng-repeat="row in data.scheduleGrid">
                    <td ng-repeat="schedule in row" grid-loaded>
                        <div class="glyphicon glyphicon-ok" ng-click="openScheduleModal(schedule)" ng-show="schedule.checked">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul id="headerList">
        <li ng-repeat="visit in data.visits" ng-click="openVisitModal(visit)">
            {{visit.name}}
        </li>
    </ul>
    <ul id="leftHeaderList">
        <li ng-repeat="activity in data.activities" ng-click="openActivityModal(activity)">
            {{activity.name}}
        </li>
    </ul>

    <div id="verticalPatchLeft">
    </div>
    <div id="horizontalPatchTop">
    </div>
    <div id="horizontalPatchBottom" class="horizontalPatchBottomBorder">
    </div>
    <div id="verticalPatchRight" class="verticalPatchRightBorder">
    </div>
    <div id="patch">
    </div>
</div>
</ion-content>

<!-- version 1a -->
<!-- <div id="grid">
    <div id="content">
        <table>
            <tbody>
                <tr ng-repeat="row in data.scheduleGrid"  >
                    <td ng-repeat="td in row" grid-loaded>
                        <div class="icon ion-ios7-checkmark-empty" ng-click="openModal($parent.$index, $index)" ng-show="td.checked">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="header">
        <table >
            <thead>
                <tr>
                    <th ng-repeat="visit in data.visits" >
                        <div>{{visit.name}}</div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="leftHeader">
        <table>
            <tbody>
                <tr ng-repeat="activity in data.activities"><td>{{activity.name}}</td></tr>
            </tbody>
        </table>
    </div>
</div> -->


<!-- version 2 -->
<!-- <ion-pane id="listsContainer">
<div class="row">
        <div class="col">
                <ion-scroll id="visitList">
                <div class="list list-inset" >
                        <a ng-repeat="visit in data.visits" class="item" href="#">{{visit.name}}</a>
                </div>
                </ion-scroll>
        </div>
        <div class="col">
                <ion-scroll id="activityList">
                <div class="list list-inset">
                        <a ng-repeat="activity in data.activities" class="item" href="#">{{activity.name}}</a>
                </div>
                </ion-scroll>
        </div>
</div>
</ion-pane>
Content!!!!! -->