
<div class="modal-header">
	<button type="button" class="close" ng-click="close()">&times;</button>
	<h3 class="modal-title">Schedule Detail ({{data.visit.name}} / {{data.activity.name}})</h3>
</div>
<div class="modal-body">
Etiam consectetur dapibus tortor, id porttitor elit vehicula ut. Etiam dui libero, vestibulum id purus quis, luctus vehicula nulla. Aliquam gravida nisi lobortis enim blandit ultrices. Cras tempus lorem vel lacus rutrum, sed condimentum enim interdum. Vivamus eleifend quam a tellus convallis, quis varius diam laoreet. Nunc gravida dapibus enim quis mattis. Vestibulum interdum eget enim eget eleifend.
</div>

<!-- Using ionic modal -->
<!-- <div class="modal">
    <ion-header-bar>
    	<h1 class="title">This is a Modal</h1>
    </ion-header-bar>
    <ion-content>
    	Hello!!!
    </ion-content>
</div> -->

